Repository resin-io/resin-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint, resin-lint --typescript --fix, resin-lint --typescript --tests

docker: Install official static docker binaries
  docker/DOCKER.md
  docker/alpine/Dockerfile
  docker/debian/Dockerfile
Due: none

docker: Add support for aarch64-alpine images
  .resinci.yml
  docker/DOCKER.md
Due: none

Add balena.yml handling to `balena deploy` release creation
  lib/commands/deploy.ts
  lib/utils/compose-types.d.ts
  lib/utils/compose.js
  lib/utils/compose_ts.ts
Due: resin-lint --typescript --fix

Add `--draft` option to `balena push`
  doc/cli.markdown
  lib/commands/push.ts
  lib/utils/remote-build.ts
  tests/commands/push.spec.ts
Due: resin-lint --typescript --fix, resin-lint --typescript --tests

Add `--draft` option to `balena deploy`
  doc/cli.markdown
  lib/commands/deploy.ts
  lib/utils/compose.js
  lib/utils/compose_ts.ts
Due: resin-lint --typescript --fix

v12.45.0
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  npm-shrinkwrap.json
  package.json
Due: none

Add deprecation policy checker (warn and abort) and --unsupported flag
  README.md
  doc/cli.markdown
  lib/app.ts
  lib/deprecation.ts
  lib/events.ts
  lib/utils/compose_ts.ts
  npm-shrinkwrap.json
  package.json
Due: resin-lint --typescript --fix

Path conditions:
  resin-lint: any of: *.coffee
  resin-lint --typescript --fix: any of: *.ts
  resin-lint --typescript --tests: any of: tests/**/*.ts
